*{
    box-sizing: border-box;
    /* normalmente o width ignoraria o border e o padding e n funcionaria pq n haveria espaço o suficiente, com o box-sizing ele leva isso em consideração */
}
/* quando se coloca o asterisco ele aplica o q tem dentro dele a tudo */

.container{
    background-color: hsl(0, 0%, 29%);
    height: 100vh;
    /* usa 100% do height disponivel */
}

.box{
    background-color: aliceblue;
    border: 2px solid;
    padding: 25px;
    /* padding é o espaço entre o conteúdo e as bordas*/
    height: auto;
    width: 50%;
    float: left;
    text-align: center;
    /* centraliza o texto */

    min-height: 50%;
}
