body{
    background-color: black;
}
h1{
    color: white;
}

#p1{
    color: red;
}
#p2{
    color: orange;
}
#p3{
    color: yellow;
}
#p4{
    color: green;
}
/* O # é usado para se referenciar a IDs */

.queroazul{
    color: lightskyblue;
}

.queroroxo{
    color: rgb(140, 17, 255);
}
/* O .(nome) é usado para se referenciar a classes */