body{
    margin: 0px;
}

.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
}
#box1{
    background-color: hsl(0, 100%, 66%);
    margin-left: 260px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px hsl(0, 51%, 25%);
}
#box2{
    background-color: hsl(295, 100%, 70%);
    border-radius: 20px;
}
#box3{
    background-color: hsl(49, 100%, 70%);
    border-radius: 20px;
    margin: auto;
    /* margin: auto deixa ele sempre no meio da janela */
}