div{
    background-color: rgb(255, 120, 120);
    width: 100px;
    height: 100px;
    display: inline-block;
    visibility: hidden;
    /* 'visibility: hidden' deixa ele invisivel mas ainda age como se estivesse la */
}
span{
    background-color: rgb(161, 161, 253);
    width: 100px;
    height: 100px;
    display: inline-block;
}